<div class="content" role="main">
  <section>
    <div class="example-button-row">
      <a routerLink="/">
        <button mat-flat-button color="primary">Home</button>
      </a>
      <a routerLink="/misc">
        <button mat-flat-button color="primary">Misc</button>
      </a>
      <a routerLink="/table">
        <button mat-flat-button color="primary">Table</button>
      </a>
      <button mat-flat-button color="warn" (click)="onNothing()">Nothing</button>
    </div>
  </section>

  <router-outlet></router-outlet>
</div>