<h1 mat-dialog-title>User hozzáadás</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field>
      <mat-label>Név</mat-label>
      <input
        matInput
        formControlName="name"
        id="name">
      <mat-hint
        *ngIf="form.get('name')?.touched && form.get('name')?.errors?.['required']"
        class="alert">
          Szükséges mező
      </mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email cím</mat-label>
      <input
        matInput
        formControlName="email"
        id="email">
      <mat-hint
        *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['required']"
        class="alert">
          Szükséges mező
      </mat-hint>
      <mat-hint
        *ngIf="form.get('email')?.touched && form.get('email')?.errors?.['pattern']"
        class="alert">
          Nem megfelelő formátum
      </mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
    <button
        mat-flat-button
        (click)="onCancel()">
            Mégsem
    </button>
    <button
        mat-flat-button
        color="primary"
        (click)="onSubmit()"
        cdkFocusInitial
        [disabled]="form.invalid">
            Mentés
    </button>
</div>