<h1 mat-dialog-title>User hozzáadás</h1>

<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Név</mat-label>
    <input
        matInput
        required
        [(ngModel)]="newUser.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email cím</mat-label>
    <input
        matInput
        required
        [(ngModel)]="newUser.email">
  </mat-form-field>

</div>

<div mat-dialog-actions>
    <button
        mat-flat-button
        (click)="onCancel()">
            Mégsem
    </button>
    <button
        mat-flat-button
        color="primary"
        [mat-dialog-close]="newUser"
        cdkFocusInitial>
            Mentés
    </button>
</div>