.sidenav {
    z-index: 1;
    top: 0;
}

.logo-container {
    height: 3rem;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.logo {
    font-size: 28px;
}

.sidenav-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sidenav-nav-item {
        width: 100%;
        cursor: pointer;

        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 2.8rem;
            color: #333;
            text-decoration: none;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                text-align: left;
            }

            .sidenav-link-text {
                margin-left: 0;
            }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-link-icon {
            color: #FFAB00;
        }
        .sidenav-link-text {
            color: #000;
        }
    }
}

.active {
    font-weight: bold;
    .sidenav-link-icon {
        color: #FFAB00;
    }
    .sidenav-link-text {
        color: #000;
    }
}