
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mdc-button {
  font-weight: bold;
  margin-right: 15px;
  text-transform: uppercase;
}

.example-button-row {
  width: 100%;
  margin-bottom: 30px;
}

.mat-mdc-chip {
  font-size: 14px;
}

.mat-mdc-tab-body {
  padding-top: 20px;
  font-size: 14px;
}

//table
.mat-mdc-tooltip {
  font-size: 12px;
}

.add-user {
  margin: 10px;
}

// dialog
.mat-dialog-title {
  width: 100%;
}

.mat-dialog-title span {
  float: right;
  text-align: right;
}

// form
.mat-mdc-form-field {
  margin-right: 20px;
}

.alert {
  color: #E53935;
  font-size: 12px;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}

.mat-sidenav {
  padding: 10px 20px;
}

.mat-sidenav-content {
  padding: 10px 30px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin: auto;
}

.add-user {
  float: right;
}

.search-container {
  margin-top: 10px;
}